<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
                <div class="mx-auto">
                    <img src="/images/thinking.png" alt="thinking">
                </div>
            <h3 class="text-center">Account Login</h3>    
            <form action="">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" id="" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit Login</button>
            </form>
        </div>        
    </div>
</div>